<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="page">
    <h1>Register</h1>
    <div class="student">2022810001 강명묵</div>
    <div class="logo-text">🌮 Taco Cloud</div>

    <form method="post" th:action="@{/register}" th:object="${registrationForm}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <label>Username: <input type="text" th:field="*{username}"></label><br>
        <label>Password: <input type="password" th:field="*{password}"></label><br>
        <label>Full name: <input type="text" th:field="*{fullname}"></label><br>
        <label>Street: <input type="text" th:field="*{street}"></label><br>
        <label>City: <input type="text" th:field="*{city}"></label><br>
        <label>State: <input type="text" th:field="*{state}"></label><br>
        <label>Zip: <input type="text" th:field="*{zip}"></label><br>
        <label>Phone: <input type="text" th:field="*{phoneNumber}"></label><br>
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>
